<!DOCTYPE html>
<html>
<head>
    <title>Сайт о городе</title>
</head>
<body>
    <!-- Навигационная панель -->
    <nav>
        <a href="/">Главная</a> |
        <a href="/news/">Новости</a> |
        <a href="/management/">Руководство</a> |
        <a href="/facts/">Факты</a> |
        <a href="/contacts/">Контакты</a> |
        <a href="/history/">История</a> |
        <a href="/history/people/">Люди</a> |
        <a href="/history/photos/">Фото</a>
    </nav>
    <hr>
    <!-- Здесь  содержимое страниц -->
    {% block content %}{% endblock %}
</body>
</html>