* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f0f4f8, #d9e2ec); /* Мягкий градиентный фон */
    color: #333;
    line-height: 1.6;
}

nav {
    background-color: #2c3e50; /* Тёмно-синий фон */
    padding: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    position: sticky; /* Фиксируем навигацию */
    top: 0;
    z-index: 1000;
    text-align: center;
    color: aliceblue;

    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;

}

a {
    color: aliceblue;
}

/* Стили для заголовков */
h1, h2 {
    color: #2c3e50;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

/* Стили для текста */
p {
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
}


.kartinka {
    display: grid;
    place-items: center;
    max-width: 600px; /* Ограничиваем максимальную ширину контейнера */
    margin: 0 auto;   /* Центрируем контейнер */
    padding: 20px;
}

.kartinka img {
    width: 100%;     /* Занимает всю ширину контейнера */
    height: auto;    /* Сохраняет пропорции */
    border-radius: 8px; /* Скругленные углы */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Легкая тень */
}